
/*
Front Page event
*/

.front-page-event {

}
.front-page-event .event-title {

}
.front-page-event .event-date {

}
.front-page-event .event-date-heading {

}
.front-page-event .fn {

}
.front-page-event .region {
}
.front-page-event .register-btn {

}
.front-page-event .register-btn:hover,
.front-page-event .register-btn:focus {

}



/*
Contact Page
*/

.contacts .control-label {

}
.contacts .form-group {

}
.contacts .contact-address h4 {

}
.contacts .contact-address ul.social-buttons {

}
.contacts .contact-address ul.social-buttons li {

}
.contacts .contact-address ul.social-buttons li:last-child {

}
.contacts .contact-address .social-btn {

}
.contacts .contact-address .social-btn:hover,
.contacts .contact-address .social-btn:focus {

}
.contacts .contact-address .social {

}



/*
Organiser
*/

.organiser-profile {

}
.organiser-profile .company-info h4 {

}
.organiser-profile .company-info ul.social-buttons {

}
.organiser-profile .company-info ul.social-buttons li {

}
.organiser-profile .company-info ul.social-buttons li:last-child {

}
.organiser-profile .company-info .social-btn {

}
.organiser-profile .company-info .social-btn:hover,
.organiser-profile .company-info .social-btn:focus {

}
.organiser-profile .company-biography h2 {

}



/*
Tickets
*/

.ticket-wrapper {

}
.ticket-wrapper .ticket-listing {

}
.ticket-wrapper .ticket-listing .ticket-info {

}
.ticket-wrapper .ticket-listing .ticket-info .ticket-title {

}
.ticket-wrapper .ticket-listing .ticket-info .ticket-title .tickets-left {

}
.ticket-wrapper .ticket-listing .ticket-info .ticket-description {

}
.ticket-wrapper .ticket-listing .ticket-price {

}
.ticket-wrapper .ticket-listing .ticket-price .price {

}
.ticket-wrapper .ticket-listing .ticket-price .each {

}
.ticket-wrapper .ticket-listing .ticket-qty {

}
.ticket-wrapper .ticket-listing .ticket-buy {

}
.ticket-wrapper .ticket-listing .ticket-buy .buy-btn {

}
.ticket-wrapper .ticket-listing .ticket-buy .buy-btn:hover,
.ticket-wrapper .ticket-listing .ticket-buy .buy-btn:focus {

}



/*
Quick Cart
*/

#cd-cart {

}

#cd-cart h2 {

}
#cd-cart .quick-cart-items {

}
#cd-cart .quick-cart-items li {

}
#cd-cart .quick-cart-items li:last-child {

}
#cd-cart .qct-qty {

}
#cd-cart .qct-price {

}
#cd-cart .quick-cart-total {

}
#cd-cart .quick-cart-total span {

}
#cd-cart .quick-cart-total::after {

}
#cd-cart .checkout-btn {

}
.no-touch #cd-cart .checkout-btn:hover {
}
#cd-cart .cd-go-to-cart {

}
#cd-cart .cd-go-to-cart a {

}



/*
Cart Display
*/

.cart-display .ticket-name {

}
.cart-display .ticket-quantity {

}
.cart-display .ticket-price {

}
.cart-display .ticket-price-total {

}
.cart-display .remove-item {

}
.cart-display .cart-totals-text {

}
.cart-display .cart-totals {

}
.continue-shopping-btn, .empty-btn {

}
.continue-shopping-btn:hover,
.continue-shopping-btn:focus,
.empty-btn:hover,
.empty-btn:focus {

}
.checkout-action {

}
.final-checkout-btn {

}
.final-checkout-btn:hover,
.final-checkout-btn:focus {

}
.checkout-buttons {

}



/*
Ticket Display
*/

.online-ticket {

}
.online-ticket .ot-left {

}
.online-ticket .ot-left .ot-top-wrapper {

}
.online-ticket .ot-left .ot-top-wrapper h2 {

}
.online-ticket .ot-left .ot-middle-wrapper {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-heading {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-name {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-gravator {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-gravator .ot-initials {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-attendee-name,
.online-ticket .ot-left .ot-middle-wrapper .ot-event-date,
.online-ticket .ot-left .ot-middle-wrapper .ot-tkt-number {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-attendee {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-date {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-tkt-number {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-contact {

}
.online-ticket .ot-left .ot-middle-wrapper .ot-contact .ot-contact-details {

}
.online-ticket .ot-left .ot-footer-wrapper {

}
.online-ticket .ot-left .ot-footer-wrapper .ot-qr-code {

}
.online-ticket .ot-left .ot-footer-wrapper .ot-tkt-price {

}
.online-ticket .ot-left .ot-footer-wrapper .ot-tkt-price .ot-heading {

}
.online-ticket .ot-left .ot-footer-wrapper .ot-tkt-price .ot-price {

}
.online-ticket .ot-left .ot-footer-wrapper .moozen-powered {

}
.online-ticket .ot-right {

}
.online-ticket .ot-right .otr-title {

}
.online-ticket .ot-right .ot-tkt-name {

}
.online-ticket .ot-right .ot-person {

}
.online-ticket .ot-right .ot-heading {

}
.online-ticket .ot-right .ot-event-date,
.online-ticket .ot-right .ot-tkt-number {

}
.online-ticket .ot-right .ot-qr-code {

}
.online-ticket .ot-right .ot-pricing {

}
.online-ticket .ot-right .ot-pricing .ot-heading {

}
.online-ticket .ot-right .ot-pricing .ot-tkt-price {

}
.online-ticket .ot-right .ot-terms {

}



/*
Schedule
*/

.schedule-listing {

}
.schedule-listing h2 {

}
.schedule-listing .schedule-listing-info h3 {

}
.schedule-listing .schedule-listing-info .schedule-time {

}
.schedule-listing .schedule-listing-info .schedule-info {

}
.schedule-listing .schedule-listing-info .schedule-speakers {

}
.schedule-listing .schedule-listing-info .schedule-speakers a {

}
.schedule-listing .schedule-listing-info .schedule-speakers a:hover,
.schedule-listing .schedule-listing-info .schedule-speakers a:focus {

}
.schedule-listing .schedule-listing-info .schedule-speakers .speaker-image {

}
.schedule-listing .schedule-listing-info .schedule-speakers .speaker-details .speaker-name,
.schedule-listing .schedule-listing-info .schedule-speakers .speaker-details .speaker-title,
.schedule-listing .schedule-listing-info .schedule-speakers .speaker-details .speaker-affiliation {

}
.schedule-item {

}
.schedule-item:hover {

}
.schedule-days-holder {

}
.schedule-days-holder .schedule-days {

}
.schedule-title {

}



/*
Footer Styles
*/
.footer {

}
.footer a {

}
.footer a:hover {

}
.footer .legal {

}
.footer ul {

}
.footer ul li {

}
